# dev or pro
service_mode = "test"
# http service port
api_port = 8065

multi_sig_contract = "multi_sig7_test.node0"
fees_call_contract = "fees_call"

bridge_near_contract = "cvault0004.chainless"
bridge_eth_contract = "0x2100B8B03E91646135C549B1Bc04455eF867cA30"
bridge_admin_prikey = "6c7d02e6742c673e8c5b9f9e85966a84706c08a6741d84c1467822b6d681d56f"

[[multi_sig_relayer]]
pri_key = "ed25519:3rSERwSqqyRNwSMaP61Kr3P96dQQGk4QwznTDNTxDMUqwTwkbBnjbwAjF39f98JSQzGXnzRWDUKb4HcpzDWyzWDc"
account_id = "test"

# psql connect url
wallet_api_port = 8069
captcha_valid_interval = 600000
login_by_password_retry_time = 5

[database]
host = "127.0.0.1"
port = 5432,
user = "postgres"
password = "postgres"
dbname = "chainless_backend"


# eth rpc url
chain_rpc = "http://192.168.1.152:3030"
# chain id
stmp_account = ""
# chain ws url
stmp_sender = ""

#  main address
stmp_password = ""
#  stroage contract address
stmp_server = ""
#  token proxy contract address
stmp_port usize
#  vault contract address
sms_server = ""
# pri key for settlement
sms_account = ""
# bot key
sms_token = ""

eth_wbtc_contract = "0xbCE3C6f47F27d4e09Fe8c3F2a7911f55688A900C"
eth_usdt_contract = "0xB2FbF84E5D220492E41FAd42C2c9679872ba3499"
eth_usdc_contract = "0x8cF428b6A97857C12E4E62e3D382A1caB4830F3D"
eth_dw20_contract = "0x6870b5237028aa5A2Ae7a94F02Ac8D9CBc97D42e"
eth_cly_contract = "0x3E47b625f1491f682A6007a5126f0A6F5Ced4096"

# BTC aggregated API service
btc_aggregated_api_base_uri = "https://test3.chainless.top/regtest/wallet-api-v4"
